.center {
    text-align:center;
    width:100%;
}

.center:first-child {
    margin:auto;
    text-align:left;
}

#episode:visited {
    color: #a6a6a6;
}

a:hover {
    text-decoration: none;
}
